*{
    /* font-family: 'Raleway'; */
}

body{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: stretch; */
    max-width: 1430px;
    margin: auto;
}

header{
    margin: 0 0 0 50px;
}

.form-search{
    margin: 0 0 0 50px;
}

/* TITLES */
.title-section{
    margin: 4px 0;
    font-weight: 700;
    font-size: 22px;
}
.title-filter{
    margin: 4px 0;
    font-weight: 700;
    font-size: 18px; 
}
.title-card{
    margin: 4px 0;
    font-weight: 700;
    font-size: 16px;
}
.information{
    margin: 4px 0;
    font-weight: 400;
    font-size: 16px;  
}

/* NAVIGATION */
.nav {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav-logo{
    width: 61px;
    height: 19px;
    /* margin-left: 55px; */
}

.nav-ul{
    /* border: 1px solid green; */
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.nav-li{
    /* border: 1px solid blue; */
    margin: 0px;
    width: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #ffffff;
}

.nav-ul a {
   text-decoration: none;
   text-align: center;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   color: #0065FC;
}

.nav-li:hover {
    border-top: 2px solid #0065FC;
 }

/* SECTIONS OFFERS*/
.section-offers{
    display: flex;
    justify-content: space-between;
    margin: 40px 50px;
}

/* OFFERS */
.offers-main{
    background: #D9D9D9;
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px;
    margin: 0 15px 0 0;
}
.ctn-offers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-main{
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    margin: 15px 0 ;
}

.card-main-img{
    border-radius: 20px 20px 0px 0px;
    width: 236px;
    height: 114px;
    object-fit: cover;
}
.details{
    display: flex;
    flex-direction: column;
    margin: 2px 0;
}

/* SPONSORED */
.offers-sponsored{
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0  0 0 15px;
    align-items: center;
    border-radius:20px ;
}
.ctn-title-sponsored{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.ctn-sponsored{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.card-sponsored{
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 5px;
    margin: 15px 0;
    width: 340px;
}
.card-sponsored a{
    display: flex;
}
.img-sponsored{
    border-radius: 20px 0px 0px 20px;
    width: 127px;
    height: 134px;
    object-fit: cover;
}


/* ************************************************************ A MODIFIER !!!!!!!!!!! */

.details-sponsored{ /* a revoir */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* a revoir */
    margin-left: 15px;
}
.stars{
    align-self: flex-end;
}
/* ************************************************************************************** */

/* SECTION ACTIVITY */
.section-activites{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}
.ctn-activity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}
.card-activity{
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 5px rgb(214, 214, 214);
}
.card-activity img{
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 380px;
    object-fit: cover;
}
.card-activity h3{
    margin: 20px 0;
}

/* FOOTER */
footer{
    background: #F2F2F2;
    height: 225px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 50px 50px 0 50px;
}

.footer-liens{
    list-style: none;
    margin: 40px;
    padding: 0px;
}

.footer-liens a{
    display: block;
    margin: 6px 0px 6px 0px ;
    text-decoration: none;
    color: black;
}